.item {
  display: flex;
  justify-content: space-between;
  /* margin-right: auto; */
  margin-left: 16px;
  margin-bottom: 4px;
  align-items: center;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.info:not(:first-child) {
  margin-left: 10px;
}

.point {
  position: relative;
}

.point::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -16px;
  top: 50%;

  width: 8px;
  height: 8px;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: transparent;
  transform: translateY(-40%);
}

.btn {
  margin-left: auto;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background-color var(--transition), border var(--transition),
    color var(--transition);
}

.btn:hover {
  /* background-color: #1976d2; */
  color: #1976d2;
}

.wrapElement {
  display: flex;
}
