.link {
  font-size: 20px;
  color: #000000;
  border-bottom: 2px solid transparent;
  transition: color var(--transition), border-bottom var(--transition);
}

.link:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.active {
  font-size: 20px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
